Repository olfat123/sg_ui: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettify, npm run lint

.lintstagedrc:

{
	"src/**/*.{js,ts,json,css,scss,md}": ["npm run prettify"],
	"src/**/*.{js,ts,json}": ["npm run lint"]
}

feat: added bootstrap theme file
  build/assets/images/favicon-compressed.webp
  build/assets/images/favicon.webp
  build/assets/images/favicon/android-chrome-192x192.png
  build/assets/images/favicon/android-chrome-256x256.png
  build/assets/images/favicon/apple-touch-icon.png
  build/assets/images/favicon/favicon-16x16.png
  build/assets/images/favicon/favicon-32x32.png
  build/assets/images/favicon/favicon.ico
  build/assets/images/favicon/mstile-150x150.png
  build/error.html
  build/index.html
  build/stylesheets/style.css
  build/stylesheets/style.min.css
  faviconData.json
  src/assets/images/favicon.png
  src/stylesheets/libs/bootstrap/_utilities-overrides.scss
  src/stylesheets/libs/bootstrap/_variables-dark-overrides.scss
  src/stylesheets/libs/bootstrap/_variables-overrides.scss
  src/stylesheets/sections/_app-header.scss
  src/views/index.pug
  src/views/sections/_app-scroll-to-top.pug
Due: npm run prettify

wip: app header
  build/assets/images/favicon/android-chrome-192x192.png
  build/assets/images/favicon/android-chrome-256x256.png
  build/assets/images/favicon/apple-touch-icon.png
  build/assets/images/favicon/favicon-16x16.png
  build/assets/images/favicon/favicon-32x32.png
  build/assets/images/favicon/mstile-150x150.png
  build/assets/images/logo/logo-dark.svg
  build/assets/images/logo/logo-light.svg
  build/assets/images/logo/logo-primary.svg
  build/assets/images/logo/logo-white.svg
  build/error.html
  build/index.html
  build/scripts/script.js
  build/scripts/script.min.js
  build/stylesheets/style.css
  build/stylesheets/style.min.css
  faviconData.json
  src/assets/images/logo/logo-dark.svg
  src/assets/images/logo/logo-light.svg
  src/assets/images/logo/logo-primary.svg
  src/assets/images/logo/logo-white.svg
  src/scripts/partials/_navigate-animation.js
  src/scripts/script.js
  src/stylesheets/libs/bootstrap/_utilities-overrides.scss
  src/stylesheets/sections/_app-header.scss
  src/stylesheets/sections/_app-loader.scss
  src/views/mixins/_app-header.pug
  src/views/mixins/_app-logo.pug
  src/views/sections/_app-header.pug
  src/views/sections/_app-loader.pug
  src/views/sections/_hero.pug
Due: npm run prettify, npm run lint

wip: app header section
  build/assets/images/backgrounds/hero-compressed.webp
  build/assets/images/backgrounds/hero.webp
  build/assets/images/favicon/android-chrome-192x192.png
  build/assets/images/favicon/android-chrome-256x256.png
  build/assets/images/favicon/apple-touch-icon.png
  build/assets/images/favicon/favicon-16x16.png
  build/assets/images/favicon/favicon-32x32.png
  build/assets/images/favicon/mstile-150x150.png
  build/error.html
  build/index.html
  build/stylesheets/style.css
  build/stylesheets/style.min.css
  faviconData.json
  gulp/tasks/pug.js
  seeds/navList.json
  src/assets/images/backgrounds/hero.jpg
  src/stylesheets/libs/bootstrap/_variables-overrides.scss
  src/stylesheets/sections/_app-header.scss
  src/stylesheets/sections/_app-nav.scss
  src/stylesheets/sections/_app-social-nav.scss
  src/views/mixins/_app-header.pug
  src/views/mixins/_app-logo.pug
  src/views/mixins/_app-nav-link.pug
  src/views/mixins/_app-nav-list.pug
  src/views/mixins/_app-nav.pug
  src/views/mixins/_app-social-nav.pug
  src/views/off-canvases/_app-header.pug
  src/views/sections/_app-svgs.pug
  src/views/sections/_app-toasts.pug
  src/views/sections/_hero.pug
Due: npm run prettify

feat: added app header section
  build/assets/images/favicon/android-chrome-192x192.png
  build/assets/images/favicon/android-chrome-256x256.png
  build/assets/images/favicon/apple-touch-icon.png
  build/assets/images/favicon/favicon-16x16.png
  build/assets/images/favicon/favicon-32x32.png
  build/assets/images/favicon/mstile-150x150.png
  build/assets/images/icons/burger-menu.svg
  build/error.html
  build/index.html
  build/scripts/script.js
  build/scripts/script.min.js
  build/stylesheets/style.css
  build/stylesheets/style.min.css
  faviconData.json
  src/assets/images/icons/burger-menu.svg
  src/scripts/libs/_bootstrap.js
  src/scripts/partials/_scroll-to-top-button.js
  src/stylesheets/libs/bootstrap/_utilities-overrides.scss
  src/stylesheets/libs/bootstrap/_variables-overrides.scss
  src/stylesheets/sections/_app-header.scss
  src/stylesheets/sections/_app-nav.scss
  src/views/layouts/_index.pug
  src/views/mixins/_app-header.pug
  src/views/modals/_login.pug
  src/views/off-canvases/_app-header.pug
  src/views/sections/_app-svgs.pug
Due: npm run prettify, npm run lint

feat: added app footer section
  build/assets/images/favicon/android-chrome-192x192.png
  build/assets/images/favicon/android-chrome-256x256.png
  build/assets/images/favicon/apple-touch-icon.png
  build/assets/images/favicon/favicon-16x16.png
  build/assets/images/favicon/favicon-32x32.png
  build/assets/images/favicon/mstile-150x150.png
  build/assets/images/logo/logo-dark.svg
  build/error.html
  build/index.html
  build/stylesheets/style.css
  build/stylesheets/style.min.css
  faviconData.json
  gulp/gulpconfig.js
  src/assets/images/logo/logo-dark.svg
  src/stylesheets/libs/bootstrap/_variables-overrides.scss
  src/stylesheets/sections/_app-footer.scss
  src/stylesheets/sections/_app-header.scss
  src/stylesheets/sections/_app-logo.scss
  src/stylesheets/sections/_app-nav.scss
  src/stylesheets/sections/_app-social-nav.scss
  src/views/mixins/_app-header.pug
  src/views/mixins/_app-nav-link.pug
  src/views/off-canvases/_app-header.pug
  src/views/sections/_app-footer.pug
  src/views/sections/_app-scroll-to-top.pug
Due: npm run prettify

feat: added authentication popups
  build/assets/images/favicon/android-chrome-192x192.png
  build/assets/images/favicon/android-chrome-256x256.png
  build/assets/images/favicon/apple-touch-icon.png
  build/assets/images/favicon/favicon-16x16.png
  build/assets/images/favicon/favicon-32x32.png
  build/assets/images/favicon/mstile-150x150.png
  build/dashboard-account-edit.html
  build/dashboard-company-edit.html
  build/dashboard-company.html
  build/directories-single.html
  build/directories.html
  build/error.html
  build/index.html
  build/stylesheets/style.css
  build/stylesheets/style.min.css
  build/vendor.html
  faviconData.json
  src/stylesheets/libs/bootstrap/_variables-overrides.scss
  src/views/forms/_change-password.pug
  src/views/forms/_forgot-password.pug
  src/views/forms/_login.pug
  src/views/layouts/_index.pug
  src/views/modals/_change-password.pug
  src/views/modals/_forgot-password.pug
Due: npm run prettify

feat: added vendor page
  build/assets/images/favicon/android-chrome-192x192.png
  build/assets/images/favicon/android-chrome-256x256.png
  build/assets/images/favicon/apple-touch-icon.png
  build/assets/images/favicon/favicon-16x16.png
  build/assets/images/favicon/favicon-32x32.png
  build/assets/images/favicon/mstile-150x150.png
  build/dashboard-account-edit.html
  build/dashboard-company-edit.html
  build/dashboard-company.html
  build/directories-single.html
  build/directories.html
  build/error.html
  build/index.html
  build/stylesheets/style.css
  build/stylesheets/style.min.css
  build/vendor.html
  faviconData.json
  src/stylesheets/libs/bootstrap/_bootstrap.scss
  src/stylesheets/libs/bootstrap/_variables-overrides.scss
  src/views/forms/_change-password.pug
  src/views/forms/_forgot-password.pug
  src/views/forms/_login.pug
  src/views/forms/_vendor.pug
  src/views/sections/_vendor.pug
Due: npm run prettify

feat: added home, and company single pages' vendor section
  build/assets/images/backgrounds/vendor-home-compressed.webp
  build/assets/images/backgrounds/vendor-home.webp
  build/assets/images/favicon/android-chrome-192x192.png
  build/assets/images/favicon/android-chrome-256x256.png
  build/assets/images/favicon/apple-touch-icon.png
  build/assets/images/favicon/favicon-16x16.png
  build/assets/images/favicon/favicon-32x32.png
  build/assets/images/favicon/mstile-150x150.png
  build/directories-single.html
  build/index.html
  build/scripts/script.js
  build/scripts/script.min.js
  build/stylesheets/style.css
  build/stylesheets/style.min.css
  faviconData.json
  src/assets/images/backgrounds/vendor-home.png
  src/scripts/partials/_navigate-animation.js
  src/scripts/script.js
  src/stylesheets/libs/bootstrap/_variables-overrides.scss
  src/views/directories-single.pug
  src/views/index.pug
  src/views/sections/_vendor-home.pug
Due: npm run prettify, npm run lint

fix: columns in related company section
  build/assets/images/favicon/android-chrome-192x192.png
  build/assets/images/favicon/android-chrome-256x256.png
  build/assets/images/favicon/apple-touch-icon.png
  build/assets/images/favicon/favicon-16x16.png
  build/assets/images/favicon/favicon-32x32.png
  build/assets/images/favicon/mstile-150x150.png
  build/companies-single.html
  faviconData.json
  src/views/sections/_companies-related.pug
Due: none

feat: added companies listing page
  .vscode/settings.json
  build/assets/images/favicon/android-chrome-192x192.png
  build/assets/images/favicon/android-chrome-256x256.png
  build/assets/images/favicon/apple-touch-icon.png
  build/assets/images/favicon/favicon-16x16.png
  build/assets/images/favicon/favicon-32x32.png
  build/assets/images/favicon/mstile-150x150.png
  build/assets/images/icons/arrow-left-sm.svg
  build/companies-single.html
  build/companies.html
  build/dashboard-account-edit.html
  build/dashboard-company-edit.html
  build/dashboard-company.html
  build/error.html
  build/index.html
  build/stylesheets/style.css
  build/stylesheets/style.min.css
  build/vendor.html
  faviconData.json
  gulp/tasks/pug.js
  src/assets/images/icons/arrow-left-sm.svg
  src/stylesheets/components/_company-card.scss
  src/stylesheets/libs/bootstrap/_bootstrap.scss
  src/stylesheets/libs/bootstrap/_variables-overrides.scss
  src/views/mixins/_company-card.pug
  src/views/mixins/_pagination.pug
  src/views/sections/_app-svgs.pug
  src/views/sections/_companies-sponsored.pug
  src/views/sections/_companies.pug
Due: npm run prettify

wip: company single page
  build/assets/images/favicon/android-chrome-192x192.png
  build/assets/images/favicon/android-chrome-256x256.png
  build/assets/images/favicon/apple-touch-icon.png
  build/assets/images/favicon/favicon-16x16.png
  build/assets/images/favicon/favicon-32x32.png
  build/assets/images/favicon/mstile-150x150.png
  build/assets/images/icons/verified.svg
  build/companies-single.html
  build/companies.html
  build/index.html
  build/stylesheets/style.css
  build/stylesheets/style.min.css
  faviconData.json
  seeds/companies.json
  src/assets/images/icons/verified.svg
  src/stylesheets/components/_company-card.scss
  src/stylesheets/libs/bootstrap/_bootstrap.scss
  src/stylesheets/libs/bootstrap/_utilities-overrides.scss
  src/stylesheets/libs/bootstrap/_variables-overrides.scss
  src/views/companies-single.pug
  src/views/forms/_quote.pug
  src/views/sections/_companies-single.pug
Due: npm run prettify

feat: added home page
  build/assets/images/favicon/android-chrome-192x192.png
  build/assets/images/favicon/android-chrome-256x256.png
  build/assets/images/favicon/apple-touch-icon.png
  build/assets/images/favicon/favicon-16x16.png
  build/assets/images/favicon/favicon-32x32.png
  build/assets/images/favicon/mstile-150x150.png
  build/assets/images/icons/arrow-down-sm.svg
  build/companies-single.html
  build/companies.html
  build/dashboard-account-edit.html
  build/dashboard-company-edit.html
  build/dashboard-company.html
  build/error.html
  build/index.html
  build/stylesheets/style.css
  build/stylesheets/style.min.css
  build/vendor.html
  faviconData.json
  src/assets/images/icons/arrow-down-sm.svg
  src/stylesheets/_components.scss
  src/stylesheets/components/_scroll-down.scss
  src/stylesheets/sections/_hero.scss
  src/views/forms/_change-password.pug
  src/views/forms/_companies-search.pug
  src/views/forms/_forgot-password.pug
  src/views/forms/_login.pug
  src/views/mixins/_company-card.pug
  src/views/mixins/_home-companies.pug
  src/views/modals/_forgot-password.pug
  src/views/sections/_app-svgs.pug
  src/views/sections/_hero.pug
  src/views/sections/_home-companies-featured.pug
  src/views/sections/_home-companies-requested.pug
Due: npm run prettify

feat: added error page
  build/assets/images/favicon/android-chrome-192x192.png
  build/assets/images/favicon/android-chrome-256x256.png
  build/assets/images/favicon/apple-touch-icon.png
  build/assets/images/favicon/favicon-16x16.png
  build/assets/images/favicon/favicon-32x32.png
  build/assets/images/favicon/mstile-150x150.png
  build/error.html
  build/stylesheets/style.css
  build/stylesheets/style.min.css
  faviconData.json
  src/stylesheets/sections/_error.scss
  src/views/sections/_error.pug
Due: npm run prettify

feat: added account info page
  build/assets/images/favicon/android-chrome-192x192.png
  build/assets/images/favicon/android-chrome-256x256.png
  build/assets/images/favicon/apple-touch-icon.png
  build/assets/images/favicon/favicon-16x16.png
  build/assets/images/favicon/favicon-32x32.png
  build/assets/images/favicon/mstile-150x150.png
  build/companies-single.html
  build/companies.html
  build/dashboard-account-edit.html
  build/dashboard-company-edit.html
  build/dashboard-company.html
  build/error.html
  build/index.html
  build/stylesheets/style.css
  build/stylesheets/style.min.css
  build/vendor.html
  faviconData.json
  src/stylesheets/_sections.scss
  src/stylesheets/libs/bootstrap/_variables-overrides.scss
  src/stylesheets/sections/_dashboard-nav.scss
  src/views/dashboard-account-edit.pug
  src/views/dashboard-company-edit.pug
  src/views/dashboard-company.pug
  src/views/forms/_account-info.pug
  src/views/forms/_change-password.pug
  src/views/forms/_forgot-password.pug
  src/views/forms/_login.pug
  src/views/forms/_quote.pug
  src/views/forms/_vendor.pug
  src/views/sections/_app-svgs.pug
  src/views/sections/_dashboard-account-edit.pug
  src/views/sections/_dashboard-aside-nav.pug
  src/views/sections/_dashboard-company-edit.pug
  src/views/sections/_dashboard-company.pug
Due: npm run prettify

feat: added dashboard my company page
  build/assets/images/favicon/android-chrome-192x192.png
  build/assets/images/favicon/android-chrome-256x256.png
  build/assets/images/favicon/apple-touch-icon.png
  build/assets/images/favicon/favicon-16x16.png
  build/assets/images/favicon/favicon-32x32.png
  build/assets/images/favicon/mstile-150x150.png
  build/companies-single.html
  build/companies.html
  build/dashboard-account-edit.html
  build/dashboard-company-edit.html
  build/dashboard-company.html
  build/error.html
  build/index.html
  build/stylesheets/style.css
  build/stylesheets/style.min.css
  build/vendor.html
  faviconData.json
  src/views/forms/_account-info.pug
  src/views/forms/_change-password.pug
  src/views/forms/_forgot-password.pug
  src/views/forms/_login.pug
  src/views/forms/_quote.pug
  src/views/forms/_vendor.pug
  src/views/mixins/_companies-info.pug
  src/views/mixins/_company-card.pug
  src/views/mixins/_rating.pug
  src/views/mixins/_review-card.pug
  src/views/sections/_companies-quote.pug
  src/views/sections/_companies-single.pug
  src/views/sections/_dashboard-company.pug
Due: none

wip: dashboard company edit page, and added rating to companies cards
  build/assets/images/favicon/android-chrome-192x192.png
  build/assets/images/favicon/android-chrome-256x256.png
  build/assets/images/favicon/apple-touch-icon.png
  build/assets/images/favicon/favicon-16x16.png
  build/assets/images/favicon/favicon-32x32.png
  build/assets/images/favicon/mstile-150x150.png
  build/companies-single.html
  build/companies.html
  build/dashboard-company-edit.html
  build/dashboard-company.html
  build/index.html
  build/scripts/script.js
  build/scripts/script.min.js
  build/stylesheets/style.css
  build/stylesheets/style.min.css
  build/vendor.html
  faviconData.json
  package-lock.json
  package.json
  src/scripts/libs/_flatpickr.js
  src/scripts/libs/_jquery-bar-rating.js
  src/scripts/script.js
  src/stylesheets/_libs.scss
  src/stylesheets/libs/barrating/_barrating.scss
  src/stylesheets/libs/bootstrap/_bootstrap.scss
  src/stylesheets/libs/bootstrap/_variables-overrides.scss
  src/stylesheets/libs/flatpickr/_flatpickr.scss
  src/views/forms/_company-edit.pug
  src/views/forms/_quote.pug
  src/views/forms/_vendor.pug
  src/views/mixins/_companies-info.pug
  src/views/mixins/_company-card.pug
  src/views/mixins/_home-companies.pug
  src/views/mixins/_rating.pug
  src/views/mixins/_review-card.pug
  src/views/sections/_dashboard-company-edit.pug
  src/views/sections/_hero.pug
Due: npm run prettify, npm run lint

fix: fontawesome rating icons
  build/assets/images/favicon/android-chrome-192x192.png
  build/assets/images/favicon/android-chrome-256x256.png
  build/assets/images/favicon/apple-touch-icon.png
  build/assets/images/favicon/favicon-16x16.png
  build/assets/images/favicon/favicon-32x32.png
  build/assets/images/favicon/mstile-150x150.png
  build/stylesheets/style.css
  build/stylesheets/style.min.css
  faviconData.json
  gulp/tasks/css.js
Due: none

refactor: select input icon size
  build/assets/images/favicon/android-chrome-192x192.png
  build/assets/images/favicon/android-chrome-256x256.png
  build/assets/images/favicon/apple-touch-icon.png
  build/assets/images/favicon/favicon-16x16.png
  build/assets/images/favicon/favicon-32x32.png
  build/assets/images/favicon/mstile-150x150.png
  build/stylesheets/style.css
  build/stylesheets/style.min.css
  faviconData.json
  src/stylesheets/libs/bootstrap/_variables-overrides.scss
Due: npm run prettify

wip: added service provider to company edit form
  build/assets/images/favicon/android-chrome-192x192.png
  build/assets/images/favicon/android-chrome-256x256.png
  build/assets/images/favicon/apple-touch-icon.png
  build/assets/images/favicon/favicon-16x16.png
  build/assets/images/favicon/favicon-32x32.png
  build/assets/images/favicon/mstile-150x150.png
  build/dashboard-company-edit.html
  build/scripts/script.js
  build/scripts/script.min.js
  build/stylesheets/style.css
  build/stylesheets/style.min.css
  faviconData.json
  gulp/tasks/css.js
  package-lock.json
  package.json
  src/scripts/libs/_slim-select.js
  src/scripts/script.js
  src/stylesheets/_custom.scss
  src/stylesheets/_libs.scss
  src/stylesheets/libs/bootstrap/_variables-overrides.scss
  src/stylesheets/libs/slimselect/_slimselect.scss
  src/views/forms/_company-edit.pug
Due: npm run prettify, npm run lint

fix: slim-select validation issue
  build/assets/images/favicon/android-chrome-192x192.png
  build/assets/images/favicon/android-chrome-256x256.png
  build/assets/images/favicon/apple-touch-icon.png
  build/assets/images/favicon/favicon-16x16.png
  build/assets/images/favicon/favicon-32x32.png
  build/assets/images/favicon/mstile-150x150.png
  build/stylesheets/style.css
  build/stylesheets/style.min.css
  faviconData.json
  src/stylesheets/libs/bootstrap/_bootstrap.scss
  src/stylesheets/libs/slimselect/_slimselect.scss
Due: npm run prettify

feat: added dashboard company edit page
  build/assets/images/favicon/android-chrome-192x192.png
  build/assets/images/favicon/android-chrome-256x256.png
  build/assets/images/favicon/apple-touch-icon.png
  build/assets/images/favicon/favicon-16x16.png
  build/assets/images/favicon/favicon-32x32.png
  build/assets/images/favicon/mstile-150x150.png
  build/assets/images/image-placeholder-compressed.webp
  build/assets/images/image-placeholder.webp
  build/companies-single.html
  build/companies.html
  build/dashboard-account-edit.html
  build/dashboard-company-edit.html
  build/dashboard-company.html
  build/error.html
  build/index.html
  build/scripts/script.js
  build/scripts/script.min.js
  build/stylesheets/style.css
  build/stylesheets/style.min.css
  build/vendor.html
  faviconData.json
  gulp/gulpconfig.js
  src/assets/images/image-placeholder.jpeg
  src/scripts/partials/_custom-file-input.js
  src/scripts/script.js
  src/stylesheets/libs/bootstrap/_utilities-overrides.scss
  src/stylesheets/libs/bootstrap/_variables-overrides.scss
  src/views/forms/_company-edit.pug
  src/views/forms/_vendor.pug
  src/views/sections/_app-svgs.pug
Due: npm run prettify, npm run lint

fix: select input padding
  build/assets/images/favicon/android-chrome-192x192.png
  build/assets/images/favicon/android-chrome-256x256.png
  build/assets/images/favicon/apple-touch-icon.png
  build/assets/images/favicon/favicon-16x16.png
  build/assets/images/favicon/favicon-32x32.png
  build/assets/images/favicon/mstile-150x150.png
  build/stylesheets/style.css
  build/stylesheets/style.min.css
  faviconData.json
  src/stylesheets/libs/bootstrap/_variables-overrides.scss
Due: npm run prettify

fix: fix some bugs
  build/assets/images/favicon/android-chrome-192x192.png
  build/assets/images/favicon/android-chrome-256x256.png
  build/assets/images/favicon/apple-touch-icon.png
  build/assets/images/favicon/favicon-16x16.png
  build/assets/images/favicon/favicon-32x32.png
  build/assets/images/favicon/mstile-150x150.png
  build/companies-single.html
  build/companies.html
  build/dashboard-account-edit.html
  build/dashboard-company-edit.html
  build/dashboard-company.html
  build/error.html
  build/index.html
  build/stylesheets/style.css
  build/stylesheets/style.min.css
  build/vendor.html
  faviconData.json
  src/stylesheets/_custom.scss
  src/views/forms/_companies-search.pug
  src/views/forms/_company-edit.pug
  src/views/forms/_quote.pug
  src/views/forms/_vendor.pug
  src/views/mixins/_app-header.pug
  src/views/mixins/_app-nav.pug
  src/views/mixins/_app-social-nav.pug
  src/views/mixins/_companies-info.pug
  src/views/mixins/_pagination.pug
  src/views/off-canvases/_app-header.pug
  src/views/sections/_app-footer.pug
  src/views/sections/_app-header.pug
  src/views/sections/_companies.pug
  src/views/sections/_hero.pug
  src/views/sections/_reviews.pug
Due: npm run prettify

chore(release): 0.2.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Nav-menu / Cards / Contact
  .vscode/settings.json
  build/index.html
  build/stylesheets/style.css
Due: none

youtube icon centering
  build/index.html
Due: none

mini nav - search bar - companies-single-html Update
  build/companies-single.html
  build/index.html
  build/stylesheets/style.css
Due: none

Companies page completed - City Page created
  build/city-page.html
  build/companies-single.html
  build/companies.html
  build/index.html
  build/stylesheets/style.css
Due: none

some edits applied
  build/city-page.html
  build/companies-single.html
  build/stylesheets/style.css
Due: none

small edits
  build/companies-single.html
  build/stylesheets/style.css
Due: none

borders and reviews width
  build/companies-single.html
  build/stylesheets/style.css
Due: none

cards borders
  build/companies-single.html
Due: none

...
  build/companies-single.html
  build/stylesheets/style.css
Due: none

optimizing css file
  build/companies-single.html
  build/stylesheets/style.css
Due: none

Blog/resources pages
  build/assets/images/backgrounds/resources-1.jpg
  build/assets/images/backgrounds/resources-2.png
  build/assets/images/backgrounds/resources-3.jpg
  build/assets/images/backgrounds/resources-4.jpg
  build/assets/images/backgrounds/resources-5.jpg
  build/assets/images/backgrounds/resources-6.jpg
  build/assets/images/backgrounds/resources-back.jpg
  build/blog-single.html
  build/blog.html
  build/city-page.html
  build/companies-single.html
  build/companies.html
  build/stylesheets/style.css
Due: none

arrow clickers added in city page + image height
  build/city-page.html
  build/companies-single.html
  build/stylesheets/style.css
Due: none
